{% extends "base.html" %}

{% block contenido %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ producto.image }}" alt="{{ producto.title }}" class="img-fluid img-config">
            </div>
            <div class="col-md-6">
                <h1>{{ producto.title }}</h1>
                <h2 class="precio">${{ producto.price }}</h2>
                <p>{{ producto.description }}</p>
                <p><strong>Rating:</strong> {{ producto.rating.rate }} / 5</p>
                <p><strong>Número de Reseñas:</strong> {{ producto.rating.count }} reseñas</p>
                <button class="btn btn-success">Añadir al Carrito</button>
            </div>
        </div>
    </div>
{% endblock %}