:80 {
    # Servir archivos estáticos desde el directorio 'public'
    handle_path /public/* {
        root * /usr/share/caddy
        file_server
    }

    # Servir archivos estáticos desde el directorio 'utils'
    handle_path /utils/* {
        root * /usr/share/caddy
        file_server
    }

    handle_path /react/* {
        reverse_proxy tienda-react:4173 
    }

    # Proxy para la tienda (Node.js)
    handle_path /* {
        reverse_proxy tienda:8000
    }
}